In [1]:
import numpy as np
import pandas as pd
from yaml import safe_load
from tqdm import tqdm
import os

In [31]:
filename = []
for file in os.listdir('t20s'):
    filename.append(os.path.join('t20s',file))

In [32]:
filename[0:5]

['t20s/1173055.yaml',
 't20s/951375.yaml',
 't20s/1188621.yaml',
 't20s/540173.yaml',
 't20s/1034829.yaml']

In [33]:
final_df = pd.DataFrame()
counter = 1
for file in tqdm(filename): 
    with open(file, 'r') as f:
        df = pd.json_normalize(safe_load(f))
        df['match_id'] = counter
        final_df = pd.concat([final_df, df])
        counter+=1
final_df

100%|███████████████████████████████████████| 1432/1432 [01:43<00:00, 13.78it/s]

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.match_type_number,info.outcome.winner,...,match_id,info.outcome.by.runs,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.bowl_out,info.outcome.bowl_out,info.supersubs.New Zealand,info.supersubs.South Africa
0,"[{'1st innings': {'team': 'West Indies', 'deli...",0.9,2020-03-01,1,Canberra,[2020-02-26],female,T20,853.0,Pakistan,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'India', 'deliveries...",0.9,2016-03-17,2,Bangalore,[2016-03-15],female,T20,NaN,India,...,2,72.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'West Indies', 'deli...",0.9,2019-08-06,1,Lauderhill,[2019-08-03],male,T20,842.0,India,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'West Indies', 'deli...",0.9,2012-04-16,2,St Lucia,[2012-03-27],male,T20,NaN,Australia,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'India', 'deliveries...",0.9,2017-02-13,1,Bangalore,[2017-02-01],male,T20,NaN,India,...,5,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",0.9,2019-09-30,1,Chattogram,[2019-09-20],male,T20,890.0,Zimbabwe,...,1428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Namibia', 'deliveri...",0.9,2019-09-07,1,Arbroath,[2019-09-03],female,T20,742.0,Netherlands,...,1429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Canada', 'deliverie...",0.9,2019-08-26,1,Hamilton,[2019-08-25],male,T20,865.0,Canada,...,1430,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",0.9,2020-12-18,1,Auckland,[2020-12-18],male,T20,1117.0,New Zealand,...,1431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",0.9,2020-06-30,1,Kuala Lumpur,[2018-06-06],female,T20,422.0,Pakistan,...,1432,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
final_df.shape

(1432, 28)

In [35]:
backup = final_df.copy()

In [36]:
final_df.drop(columns=[
    'meta.data_version',
    'meta.created',
    'meta.revision',
    'info.outcome.bowl_out',
    'info.bowl_out',
    'info.supersubs.South Africa',
    'info.supersubs.New Zealand',
    'info.outcome.eliminator',
    'info.outcome.result',
    'info.outcome.method',
    'info.neutral_venue',
    'info.match_type_number',
    'info.outcome.by.runs',
    'info.outcome.by.wickets'
],inplace=True)

In [38]:
final_df.shape

(1432, 14)

In [43]:
final_df = final_df[final_df['info.gender'] == 'male']
final_df = final_df.drop(columns = ['info.gender'])

In [44]:

final_df.shape

(966, 13)

In [45]:
final_df = final_df.drop(columns = ['info.match_type'])

In [47]:
final_df['info.overs'].value_counts()   # 3 matches with 50 overs so we are going to drop these rows

info.overs
20    963
50      3
Name: count, dtype: int64

In [58]:
final_df = final_df[final_df['info.overs'] == 20]
final_df = final_df.drop(columns = ['info.overs'])

In [59]:
final_df.shape

(963, 11)

In [4]:
import pickle
pickle.dump(final_df, open('t20s_data','wb'))

NameError: name 'final_df' is not defined

In [5]:
matches = pickle.load(open('t20s_data','rb'))

In [6]:
matches

,innings,info.city,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
0,"[{'1st innings': {'team': 'West Indies', 'deli...",Lauderhill,[2019-08-03],India,[NA Saini],"[India, West Indies]",field,India,"[N Duguid, GO Brathwaite]",Central Broward Regional Park Stadium Turf Ground,3
0,"[{'1st innings': {'team': 'West Indies', 'deli...",St Lucia,[2012-03-27],Australia,[SR Watson],"[West Indies, Australia]",bat,West Indies,"[GO Brathwaite, PJ Nero]","Beausejour Stadium, Gros Islet",4
0,"[{'1st innings': {'team': 'India', 'deliveries...",Bangalore,[2017-02-01],India,[YS Chahal],"[India, England]",field,England,"[AK Chaudhary, Nitin Menon]",M Chinnaswamy Stadium,5
0,"[{'1st innings': {'team': 'England', 'deliveri...",Nottingham,[2009-06-11],South Africa,[JH Kallis],"[England, South Africa]",bat,England,"[SJ Davis, AL Hill]",Trent Bridge,6
0,"[{'1st innings': {'team': 'South Africa', 'del...",Cape Town,[2020-12-01],England,[DJ Malan],"[South Africa, England]",bat,South Africa,"[A Paleker, BP Jele]",Newlands,7
...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",Abu Dhabi,[2017-01-16],Oman,[Bilal Khan],"[Hong Kong, Oman]",field,Oman,"[Iftikhar Ali, AJ Neill]",Sheikh Zayed Stadium,1424
0,"[{'1st innings': {'team': 'Maldives', 'deliver...",Kuala Lumpur,[2019-06-29],Thailand,[N Pathan],"[Maldives, Thailand]",field,Thailand,"[N Sivan, V Kalidas]",Kinrara Academy Oval,1425
0,"[{'1st innings': {'team': 'Afghanistan', 'deli...",Chattogram,[2019-09-20],Zimbabwe,[CB Mpofu],"[Afghanistan, Zimbabwe]",bat,Afghanistan,"[Sharfuddoula, Tanvir Ahmed]",Zahur Ahmed Chowdhury Stadium,1428
0,"[{'1st innings': {'team': 'Canada', 'deliverie...",Hamilton,[2019-08-25],Canada,[Ravinderpal Singh],"[Canada, United States of America]",field,United States of America,"[JM Williams, Emmerson Carrington]","White Hill Field, Sandys Parish",1430
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",Auckland,[2020-12-18],New Zealand,[JA Duffy],"[Pakistan, New Zealand]",bat,Pakistan,"[SB Haig, WR Knights]",Eden Park,1431

In [7]:
len(matches.iloc[0])

11

In [8]:
matches.iloc[0]

innings                 [{'1st innings': {'team': 'West Indies', 'deli...
info.city                                                      Lauderhill
info.dates                                                   [2019-08-03]
info.outcome.winner                                                 India
info.player_of_match                                           [NA Saini]
info.teams                                           [India, West Indies]
info.toss.decision                                                  field
info.toss.winner                                                    India
info.umpires                                    [N Duguid, GO Brathwaite]
info.venue              Central Broward Regional Park Stadium Turf Ground
match_id                                                                3
Name: 0, dtype: object

In [25]:
matches.iloc[0]['innings'][0]['1st innings']['deliveries'][0][0.1].keys() # deliviris means balls

dict_keys(['non_striker', 'bowler', 'runs', 'batsman'])

In [34]:
matches.iloc[0]['innings'][0]['1st innings']['deliveries'][0][0.1].keys()

dict_keys(['non_striker', 'bowler', 'runs', 'batsman'])

In [76]:
matches.iterrows()

In [222]:
count = 1
delivery_df = pd.DataFrame()
for index, row in matches.iterrows():

    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue
        })
    delivery_df = pd.concat([delivery_df,loop_df])

In [223]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[India, West Indies]",West Indies,0.1,JD Campbell,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
1,2,"[India, West Indies]",West Indies,0.2,JD Campbell,Washington Sundar,0,JD Campbell,Lauderhill,Central Broward Regional Park Stadium Turf Ground
2,2,"[India, West Indies]",West Indies,0.3,N Pooran,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
3,2,"[India, West Indies]",West Indies,0.4,N Pooran,Washington Sundar,1,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
4,2,"[India, West Indies]",West Indies,0.5,E Lewis,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
...,...,...,...,...,...,...,...,...,...,...
118,964,"[Pakistan, New Zealand]",Pakistan,19.2,Shaheen Shah Afridi,BM Tickner,1,0,Auckland,Eden Park
119,964,"[Pakistan, New Zealand]",Pakistan,19.3,Faheem Ashraf,BM Tickner,0,Faheem Ashraf,Auckland,Eden Park
120,964,"[Pakistan, New Zealand]",Pakistan,19.4,Shaheen Shah Afridi,BM Tickner,2,0,Auckland,Eden Park
121,964,"[Pakistan, New Zealand]",Pakistan,19.5,Shaheen Shah Afridi,BM Tickner,1,0,Auckland,Eden Park
122,964,"[Pakistan, New Zealand]",Pakistan,19.6,Haris Rauf,BM Tickner,1,0,Auckland,Eden Park

In [224]:
delivery_df['match_id'].unique().shape   # number of matches = number of match_id

(963,)

In [225]:
delivery_df[delivery_df['match_id'].values == 4]

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,4,"[India, England]",India,0.1,V Kohli,TS Mills,0,0,Bangalore,M Chinnaswamy Stadium
1,4,"[India, England]",India,0.2,V Kohli,TS Mills,1,0,Bangalore,M Chinnaswamy Stadium
2,4,"[India, England]",India,0.3,V Kohli,TS Mills,1,0,Bangalore,M Chinnaswamy Stadium
3,4,"[India, England]",India,0.4,KL Rahul,TS Mills,0,0,Bangalore,M Chinnaswamy Stadium
4,4,"[India, England]",India,0.5,KL Rahul,TS Mills,0,0,Bangalore,M Chinnaswamy Stadium
...,...,...,...,...,...,...,...,...,...,...
123,4,"[India, England]",India,19.3,MS Dhoni,CJ Jordan,0,MS Dhoni,Bangalore,M Chinnaswamy Stadium
124,4,"[India, England]",India,19.4,HH Pandya,CJ Jordan,2,0,Bangalore,M Chinnaswamy Stadium
125,4,"[India, England]",India,19.5,HH Pandya,CJ Jordan,6,0,Bangalore,M Chinnaswamy Stadium
126,4,"[India, England]",India,19.6,HH Pandya,CJ Jordan,2,0,Bangalore,M Chinnaswamy Stadium
127,4,"[India, England]",India,19.7,HH Pandya,CJ Jordan,1,HH Pandya,Bangalore,M Chinnaswamy Stadium

In [226]:
len(matches.iloc[2]['innings'][0]['1st innings']['deliveries'])

128

In [227]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[India, West Indies]",West Indies,0.1,JD Campbell,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
1,2,"[India, West Indies]",West Indies,0.2,JD Campbell,Washington Sundar,0,JD Campbell,Lauderhill,Central Broward Regional Park Stadium Turf Ground
2,2,"[India, West Indies]",West Indies,0.3,N Pooran,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
3,2,"[India, West Indies]",West Indies,0.4,N Pooran,Washington Sundar,1,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
4,2,"[India, West Indies]",West Indies,0.5,E Lewis,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
...,...,...,...,...,...,...,...,...,...,...
118,964,"[Pakistan, New Zealand]",Pakistan,19.2,Shaheen Shah Afridi,BM Tickner,1,0,Auckland,Eden Park
119,964,"[Pakistan, New Zealand]",Pakistan,19.3,Faheem Ashraf,BM Tickner,0,Faheem Ashraf,Auckland,Eden Park
120,964,"[Pakistan, New Zealand]",Pakistan,19.4,Shaheen Shah Afridi,BM Tickner,2,0,Auckland,Eden Park
121,964,"[Pakistan, New Zealand]",Pakistan,19.5,Shaheen Shah Afridi,BM Tickner,1,0,Auckland,Eden Park
122,964,"[Pakistan, New Zealand]",Pakistan,19.6,Haris Rauf,BM Tickner,1,0,Auckland,Eden Park

In [228]:
def bowl(row):
    for team in row['teams']:
        if team != row['batting_team']:
            return team

In [229]:
delivery_df['bowling_team'] = delivery_df.apply(bowl, axis = 1)

In [230]:
delivery_df.drop(columns = 'teams', inplace = True)

In [231]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,West Indies,0.1,JD Campbell,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
1,2,West Indies,0.2,JD Campbell,Washington Sundar,0,JD Campbell,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
2,2,West Indies,0.3,N Pooran,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
3,2,West Indies,0.4,N Pooran,Washington Sundar,1,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
4,2,West Indies,0.5,E Lewis,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
...,...,...,...,...,...,...,...,...,...,...
118,964,Pakistan,19.2,Shaheen Shah Afridi,BM Tickner,1,0,Auckland,Eden Park,New Zealand
119,964,Pakistan,19.3,Faheem Ashraf,BM Tickner,0,Faheem Ashraf,Auckland,Eden Park,New Zealand
120,964,Pakistan,19.4,Shaheen Shah Afridi,BM Tickner,2,0,Auckland,Eden Park,New Zealand
121,964,Pakistan,19.5,Shaheen Shah Afridi,BM Tickner,1,0,Auckland,Eden Park,New Zealand
122,964,Pakistan,19.6,Haris Rauf,BM Tickner,1,0,Auckland,Eden Park,New Zealand

In [232]:
delivery_df['batting_team'].unique()

array(['West Indies', 'India', 'England', 'South Africa', 'Netherlands',
       'New Zealand', 'Afghanistan', 'Pakistan', 'Kenya', 'Australia',
       'Malaysia', 'Ireland', 'Zimbabwe', 'Nigeria', 'Singapore', 'Nepal',
       'Bangladesh', 'Vanuatu', 'Hong Kong', 'United Arab Emirates',
       'Thailand', 'Canada', 'Sri Lanka', 'Papua New Guinea', 'Spain',
       'Scotland', 'Belgium', 'Oman', 'Kuwait', 'Jersey', 'Gibraltar',
       'Denmark', 'Cayman Islands', 'United States of America',
       'Philippines', 'Ghana', 'Guernsey', 'Namibia', 'Bermuda', 'Qatar',
       'Germany', 'Botswana', 'Italy', 'Romania', 'Norway', 'Isle of Man',
       'Uganda', 'Maldives', 'Bulgaria', 'Iran', 'Bhutan', 'Portugal'],
      dtype=object)

In [233]:
team = ['West Indies', 'India', 'England', 'South Africa', 'Netherlands',
       'New Zealand', 'Afghanistan', 'Pakistan','Australia','Sri Lanka','Bangladesh']

In [234]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(team)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(team)]

In [235]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,West Indies,0.1,JD Campbell,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
1,2,West Indies,0.2,JD Campbell,Washington Sundar,0,JD Campbell,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
2,2,West Indies,0.3,N Pooran,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
3,2,West Indies,0.4,N Pooran,Washington Sundar,1,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
4,2,West Indies,0.5,E Lewis,Washington Sundar,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground,India
...,...,...,...,...,...,...,...,...,...,...
118,964,Pakistan,19.2,Shaheen Shah Afridi,BM Tickner,1,0,Auckland,Eden Park,New Zealand
119,964,Pakistan,19.3,Faheem Ashraf,BM Tickner,0,Faheem Ashraf,Auckland,Eden Park,New Zealand
120,964,Pakistan,19.4,Shaheen Shah Afridi,BM Tickner,2,0,Auckland,Eden Park,New Zealand
121,964,Pakistan,19.5,Shaheen Shah Afridi,BM Tickner,1,0,Auckland,Eden Park,New Zealand
122,964,Pakistan,19.6,Haris Rauf,BM Tickner,1,0,Auckland,Eden Park,New Zealand

In [236]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [237]:
 output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,West Indies,India,0.1,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
1,2,West Indies,India,0.2,0,JD Campbell,Lauderhill,Central Broward Regional Park Stadium Turf Ground
2,2,West Indies,India,0.3,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
3,2,West Indies,India,0.4,1,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
4,2,West Indies,India,0.5,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
...,...,...,...,...,...,...,...,...
118,964,Pakistan,New Zealand,19.2,1,0,Auckland,Eden Park
119,964,Pakistan,New Zealand,19.3,0,Faheem Ashraf,Auckland,Eden Park
120,964,Pakistan,New Zealand,19.4,2,0,Auckland,Eden Park
121,964,Pakistan,New Zealand,19.5,1,0,Auckland,Eden Park
122,964,Pakistan,New Zealand,19.6,1,0,Auckland,Eden Park

In [238]:
pickle.dump(output,open('data_extraction_1', 'wb'))